@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&family=Inter:wght@400;500;600;700;800;900&family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-background: rgba(0, 0, 0);
  --sidebar-background: #171717;
  --theme-color: rgb(223, 56, 56); /*#c72b2b*/
  --white-color: #fff;
  --secondary-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--body-background);
  color: var(--white-color);
  scroll-behavior: smooth;
}
